/* variables */

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

/* universal */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h3 {
    margin-bottom: 2.4rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
  body {
    font-size: 1.8rem;
  }
}

/* Links */

a {
  text-decoration: none;
}
.link-arrow {
  font-size: 2rem;
  color: var(--color-accent);
  text-transform: uppercase;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.5s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  white-space: nowrap;
  padding: 0.5rem 2rem;
}
.badge--small {
  font-size: 1.6rem;
}
.badge--primary {
  background: var(--color-primary);
  color: #fff;
}
.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* List */

.list {
  color: var(--color-headings);
  padding-left: 0;
  list-style: none;
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(/images/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  background: #f3f9fa;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* button */

a {
  cursor: auto;
}

.button {
  margin: 1rem 0;
  border-radius: 50px;
  border: 0;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  padding: 2.5rem 3rem;
  display: inline-block;
}
.button--accent {
  background: var(--color-accent);
  color: white;
  font-size: 1.8rem;
  padding-inline: 14rem;
  /* padding-block: 2.2rem; */
}
.button--accent:hover,
.button--accent:focus,
.button--search:hover,
.button--search:focus {
  background: #ff592f;
}
.button--secondary {
  background: var(--color-secondary);
  color: white;
  font-size: 1.8rem;
  padding-inline: 9rem;
  /* padding-block: 2.5rem; */
}
.button--secondary:hover,
.button--secondary:focus {
  background: #55e6ff;
}
.button--search {
  background: var(--color-accent);
  color: white;
  font-size: 1.5rem;
  padding-inline: 3rem;
  /* padding-block: 2.5rem; */
}
.button--search-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.button--transparent {
  background: transparent;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
  transition: background-color 0.15s;
}
.button--transparent:hover,
.button--transparent:focus {
  background-color: var(--color-headings);
  color: white;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
  .button--accent {
    padding-inline: 3.5rem;
  }
  .button--secondary {
    padding-inline: 5.5rem;
  }
  .button--search {
    padding-inline: 4rem;
  }
}
