<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">ready to get started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quo
        commodi unde, incidunt iste eaque est! Odio, nemo. Labore provident
        blanditiis voluptatum amet architecto.
      </p>
    </div>
    <div class="callout--button">
      <a href="#" class="button button--secondary">get started</a>
    </div>
  </div>
</div>
