<div class="plan plan--popular">
  <div class="plan-cart">
    <div class="card card--secondary">
      <header class="card__header">
        <h3 class="plan__name">Business</h3>
        <span class="plan__price">$24</span>
        <span class="plan__billing-cycle">/month</span>
        <span class="badge badge--primary badge--small">20% Off</span>
        <span class="plan__description">Optimal Cloud Experience</span>
      </header>
      <div class="card__body">
        <ul class="list list--inline list--tick">
          <li>Unlimited Websites</li>
          <li>Unlimited Bandwidth</li>
          <li>100 GB SSD Storage</li>
          <li>3 GB RAM</li>
          <li>2 CPU Cores</li>
        </ul>
        <footer class="card__footer">
          <button type="submit" class="btn btn--block">buy now</button>
        </footer>
      </div>
    </div>
  </div>
</div>
