<div class="card card--quote">
  <div class="grid grid--1x2">
    <div class="part--picture">
      <img
        class="author--image"
        src="/images/testimonial.jpg"
        alt="jhone lumeo"
      />
      <span class="icon-container icon-container-accent">
        <svg class="icon icon--white icon-small">
          <use xlink:href="/images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <div class="part--quotes">
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
          tenetur debitis suscipit esse expedita porro neque atque amet?
          Incidunt beatae odio expedita officiis iusto corrupti quaerat nostrum
          eum architecto suscipit.
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="/images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media--heading quote__author">Sogol Khoshbu</h3>
              <p class="quote__organization">MahanVS Company ceo</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
